.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;

  max-width: 1200px;
  width: 100%;

  background-color: rgb(233, 233, 233);
  border-radius: 16px;

  box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.3);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.3);
  -moz-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.3);
}

.btn-wrap {
  align-self: start;
}