.details-main {
  display: flex;
  justify-content: start;
  align-items: center;

  border-bottom: 2px solid rgba(163, 163, 163, 0.3);

  padding-bottom: 20px;
  gap: 20px;
}

.img-wrap {
  max-width: 280px;
  max-height: 420px;
  width: 100%;
  height: 100%;

  box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);
  -moz-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);

  border-radius: 4px;
  overflow: hidden;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navigation {
  width: 100%;
  border-bottom: 2px solid rgba(163, 163, 163, 0.3);

  padding-bottom: 20px;
}

.link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;

  list-style: none;
  padding: 0;
}

.list-item {
  color: #242424;
  transition: color 0.15s ease-in-out;
}

.list-item:hover {
  color: #d15065;
}

.active {
  color: #ee2d4d;
}
