.wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reviews-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.review-item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;

  border-radius: 8px;
  background-color: rgb(238, 238, 238);

  box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.2);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.2);
  -moz-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.2);
}

.review-item h4 {
  width: 15%;
  border-right: 2px solid rgba(163, 163, 163, 0.3);
  padding: 0 5px;
}

.review-item p {
  flex: 1;
  padding: 0 5px;
  text-align: start;
}

@media screen and (max-width: 720px) {
  .review-item {
    flex-direction: column;
  }

  .review-item h4 {
    border-right: none;
    border-bottom: 2px solid rgba(163, 163, 163, 0.3);
    width: 100%;
    padding-bottom: 10px;
    margin: 0;
    text-align: start;
  }
}
