.header {
  width: 100%;
  box-shadow: 0 9px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 9px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 9px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  background-color: rgb(233, 233, 233);

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: start;
  gap: 16px;
}

.nav-link {
  color: #242424;
  font-size: 20px;
  font-weight: 700;

  transition: color 0.15s ease-in-out;
}

.nav-link:hover {
  color: #d15065;
}

.active {
  color: #ee2d4d;
}
