.movie-list {
  max-width: 1500px;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  margin: 0 0 20px;
  padding: 0 20px;
}

.movie-item {
  width: 100%;
  height: 100%;

  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);
  -moz-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);

  transition: all 0.15s ease-in-out;
}

.movie-item:hover {
  scale: 1.01;
  box-shadow: 2px 2px 16px 0px rgba(66, 66, 66, 0.75);
}

@media screen and (max-width: 1200px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 440px) {
  .movie-list {
    display: flex;
    flex-direction: column;
    /* gap: 20px */
  }
}
