.cast-wrap {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.cast-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.cast-item {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;

  box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.2);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.2);
  -moz-box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.2);
}

.img-wrap {
  width: 100%;
  height: 100%;
  max-height: 270px;

  border-radius: 4px;
  overflow: hidden;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .cast-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .cast-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cast-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .cast-list {
    display: flex;
    flex-direction: column;
  }
}
